* {
    font-family: Helvetica;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: gray;
    color: rgb(163, 1, 1);
}

a {
    text-decoration: none;
    color: #910303;
    transition: .5s;
}

a:hover {
    color: #910303;
}