div img{
    margin:20px 25px
}
body{
    background-color: black;
}
 h1{
color: white;
margin: 0px 25px
}
h2{
    color: white
}
.instituicao{
    color: white;
    margin: 40px 25 px;
}
li{
    color: white
}
ol button{
margin: 40px 0px 60px ;
}